

.capaestandarp{
    width: 300px;
    min-height: 200px;
    border: 2px dashed darkturquoise;
    background: rgba(100, 148, 237, 0.438);
}

.contenedor{
    position: relative;
    width: 90%;
    min-height: 300px;
    margin: auto;
    border: 2px dotted darkviolet;
    box-sizing: border-box;
}
.positionabsolute{
    position: absolute;
    top: 5%;
    left: 10%;
    color:crimson ;
   
}
